.topbar-container {
    position: relative;
    margin: 0 var(--smallbar);
    height: 17vh;
    z-index: 11;
    background-color: #971a43;
    translate: 0;
    animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
    to {
        translate: 0 -50%;
    }
}