.topbar-container {
    position: relative;
    margin: 0 var(--smallbar);
    height: 17vh;
    z-index: 12;
    background-color: #971a43;
    translate: 0;
    animation: slideUp 1s ease-in-out forwards;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;

    .filter-dropdown {
        flex: 100%;
        background-color: #971a43;
        border: none;
        position: inherit;

        &:focus {
            outline: none;
        }

        .filter {
            opacity: 0;

            &::after {
                background-color: #971a43;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    }
}

@keyframes slideUp {
    to {
        translate: 0 -50%;
    }
}