@media only screen and (max-width: 1000px) {
    .hide {
        display: none;
    }
}


.curtainsContainer {
    position: fixed;
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 60px);
    flex: 100%;
    flex-wrap: nowrap;
    pointer-events: none;
    z-index: 500;
    bottom: 0;

    .big {
        flex: 15.33%;
        border-left: rgba(142, 142, 142, 0.43) solid 1px;
        background-color: #fff;
    }

    .small {
        flex: 4%;
        max-width: 6%;
        border-left: rgba(142, 142, 142, 0.43) solid 1px;
        background-color: #fff;
    }

    .curtain {
        transform: translateY(-100%);
        transform-origin: center top;
        animation-timing-function: cubic-bezier(.445, .05, .55, .95);
        background-color: #fff;
        --animation-duration: 1.2s;
    }

    :nth-child(1),
    :nth-child(8) {
        animation: crescentDown var(--animation-duration) ease-in-out .73s;
    }

    :nth-child(2),
    :nth-child(7) {
        animation: crescentDown var(--animation-duration) ease-in-out .76s;
    }

    :nth-child(3),
    :nth-child(6) {
        animation: crescentDown var(--animation-duration) ease-in-out .79s;
    }

    :nth-child(4) {
        animation: crescentDown var(--animation-duration) ease-in-out .82s;
    }

    :nth-child(5) {
        animation: crescentDown var(--animation-duration) ease-in-out 835ms;
    }
}

.show {
    display: flex;
}

@keyframes crescentDown {
    
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}