@media only screen and (max-width: 1000px) {}

header {
    opacity: 1;
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    /* animation: menu-reveal 0.6s ease-in-out forwards;
    animation-delay: 3.4s; */
    box-shadow: 0px 1px 3px rgb(156, 156, 156);
    height: 60px;
}

.linkContainer {
    display: flex;
    flex: 100%;
}

.linkContainer a link {
    justify-content: center;
    align-items: center;
}

.menuPic {
    flex: 15.33%;

    div {
        width: 8vw;
    }
}

.menuLink {
    font-family: 'ITCAvantGarde', sans-serif;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 2px;
    color: black;
    transition: 0.4s;
    width: auto;
    height: auto;
}

a:hover,
.menuLink:hover {
    color: #F15A29;
    cursor: pointer;
}

.menuLink {
    text-align: center;
    align-self: center;
    flex: 15%;
}

@keyframes menu-reveal {
    to {
        opacity: 1;
    }
}