@media only screen and (max-width: 1000px) {}

.header {
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    /* animation: menu-reveal 0.6s ease-in-out forwards;
    animation-delay: 3.4s; */
    box-shadow: 0px 1px 3px rgb(156, 156, 156);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .linkContainer {
        display: flex;
        flex: 100%;
    }
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    .mobile-menu {

        &>* {
            font-size: 50px;
        }
    }
}

.mobile-menu-container {
    position: fixed;
    top: 60px;
    z-index: 98;
    width: 100%;
    max-height: calc(100vh - 60px);
    background-color: white;
    overflow-y: scroll;
    
    //slide in from the top
    animation: slide-in 0.5s ease-in-out forwards;
    transform: translateY(-100%);

    @keyframes slide-in {
        to {
            transform: translateY(0);
        }
    }
}

.desktop-header {
    display: flex;
    justify-content: center;

    .link-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 calc((0.5 * var(--bigbar)) + var(--smallbar));

        .header-link {
            flex: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            box-sizing: content-box;

            .header-link-text {
                font-family: 'ITCAvantGarde', sans-serif;
                text-decoration: none;
                font-size: 0.7rem;
                letter-spacing: 2px;
                color: black;
                transition: 0.4s;
                width: auto;
                height: auto;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    color: #F15A29;
                }
            }
        }
    }
}