.selectorContainer {
    width: 100vw;
    height: calc(100vh - 60px);
    bottom: 0;
    z-index: 499;
    display: flex;
    flex: 100%;
    flex-wrap: nowrap;
    position: fixed;
    flex-direction: row;
    cursor: default;

    .selector {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 50%;
        height: calc(100vh - 60px);
        background-size: cover;
        background-position: center;
        filter: brightness(60%);
        transition: filter 0.2s ease-in-out, flex 0.5s cubic-bezier(.215, .61, .355, 1), color 0.2s ease-in-out;
        font-size: 5rem;
        font-weight: 700;
        color: #F15A29;
        text-transform: uppercase;
        font-kerning: none;
        letter-spacing: -6px;
        text-decoration: none;
    }

    .selector:hover {
        filter: brightness(90%);
        flex: 55%;
        color: white;
    }
}

