@media only screen and (max-width: 1000px) {
    .hide {
        display: none;
    }
}

@media only screen and (max-width: 700px) {}

.lineContainer {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    /* z-indices higher than this will render over the lines, below will render below the lines. DO NOT set an element's z-index equal to this z-index*/
    z-index: 10;
    flex: 100%;
    flex-wrap: nowrap;

    .outerLine {
        flex: 4%;
        max-width: 6%;
        border-left: rgba(142, 142, 142, 0.43) solid 1px;
    }

    .innerLine {
        flex: 15.33%;
        border-left: rgba(142, 142, 142, 0.43) solid 1px;
    }
}