.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: calc(-0.5 * 8.2vw) 4vw 0 4vw;
    
    width: 92%;
    background-color: black;

    z-index: 12;
}